html{
  font-size: calc(2 * 62.5%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.header{
  width: 100%;
  height: 15vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.titulo{
  font-size: 5rem
}

.conteudo{
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.titulo-tile{
  background-color: bisque;
  margin: 5px 3px;
  height: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.input-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50px;
  margin-top: 15vh;
}

.btn {
  margin: 5px 5px;
  padding: 5px 5px;
  width: 150px;
  min-width: 20px;
  height: 30px;
  border-radius: 20px;
  color: azure;
  background-color: #0b2e59;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.btn:not(:disabled):hover {
  background-color: #164f7c;
  color: white;
}

.btn:disabled {
  opacity: 0.7;
  cursor: default;
}

.search{
  border: 2px solid #164f7c;
  border-radius: 20px;
  padding: 5px;
  width: 33%;
  min-width: 300px;
}

.texto{
  margin: 0px 10px;
}

@media only screen and (max-width: 920px) {
  .titulo{
    font-size: 4rem;
  }
}

@media only screen and (max-width: 730px) {
  .titulo{
    font-size: 3rem;
  }
}

@media only screen and (max-width: 560px) {
  .titulo{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 380px) {
  .titulo{
    font-size: 1.5rem;
  }
}



