html{
  font-size: 62,5%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.header{
  width: 100%;
  height: 15vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo{
  font-size: 6rem;
}

.conteudo{
  height: 85vh;
}

.titulo-tile{
  background-color: bisque;
  margin: 5px 3px;
  height: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.input-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50px;
}

.btn {
  margin: 5px 5px;
  padding: 5px 5px;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  color: azure;
  background-color: #0b2e59;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:not(:disabled):hover {
  background-color: #164f7c;
  color: white;
}

.search{
  border: 2px solid #164f7c;
  border-radius: 20px;
  padding: 5px;
  width: 33%;
}

.texto{
  margin: 0px 10px;
}