:root{
  --primary-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,1,190,1) 0%, rgba(68,111,120,1) 95%);

}

html{
  font-size: calc(2 * 62.5%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.header{
  width: 100%;
  height: 15vh;
  background: var(--primary-color);
  color: #a9c2c9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  letter-spacing: 10px;
}

.titulo{
  font-size: 5rem
}

.conteudo{
  height: 97vh;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background-color: #8e8ca3;
}

.footer{
  bottom: 0;
  background: var(--primary-color);
  text-align: center;
  color: azure;
  height: 3vh;
}

.titulo-tile{
  background: var(--primary-color);
  color: azure;
  margin: 5px 3px;
  height: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: 3px;
  transition: background-color 0.3s, border-color 0.3s, letter-spacing 0.3s; /* Adiciona um efeito de transição suave */
}

.titulo-tile:hover {
  background: #8e8ca3; /* Altera a cor de fundo ao passar o mouse */
  border: #164f7c 1px solid;
  letter-spacing: 5px;
}

.input-holder{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50px;
  background: var(--primary-color);
  position: fixed;
  top: 15vh;
}
.search{
  margin: 5px;
  border: 2px solid #164f7c;
  border-radius: 20px;
  padding: 5px;
  width: 33%;
  min-width: 300px;
}
.content-holder{
  margin-top: 22vh;
  width: 100%;
}

.btn {
  margin: 5px 5px;
  width: 150px;
  min-width: 20px;
  height: 30px;
  border-radius: 20px;
  color: azure;
  background-color: rgba(0, 0, 0, 0); /* Cor transparente (preto com 0 de opacidade) */
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border: 2px solid #8e8ca3;
}

.btn:not(:disabled):hover {
  background-color: #8e8ca3;
  color: white;
}

.btn:disabled {
  opacity: 0.7;
  cursor: default;
}

.texto{
  margin: 0px 10px;
  margin-bottom: 3vh;
  height: 30px;
  line-height: 50px;
}


.texto-nao-encontrado{
  margin-left: 10px;
}


@media only screen and (max-width: 920px) {
  .titulo{
    font-size: 4rem;
  }
}

@media only screen and (max-width: 730px) {
  .titulo{
    font-size: 3rem;
  }
}

@media only screen and (max-width: 560px) {
  .titulo{
    font-size: 2rem;
  }

  .btn{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 380px) {
  .titulo{
    font-size: 1.5rem;
  }

  .btn{
    font-size: 0.6rem;
  }
}



